@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'MADE Waffle Soft';
    src: url('../assets/fonts/MADE Waffle Soft.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button[type="submit"]{
    margin-top: 1rem;
    padding: 1rem;
    border: #fcb653;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    background-color:#fcb653;
    cursor: pointer;


}

body{
    background-color: #f8f7fa;
    font-family: 'DM Sans', sans-serif;

  }

body h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    font-family: 'MADE Waffle Soft', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000;
    height: 10vh;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: white;
}

img {
    width: 18vw;
    height: 100%;
    margin-left: 20px;
}

form{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    gap: 10px;
    height: 100%;
}

.form-label{
    margin-left: 0.6rem;
    font-size: 13,8px;
    align-items: center;
    border-radius: 15px;
    font-weight: bold;
}

.form-edit{
    width: 100%;
    height: 80%;
    border: 2px solid #fcb653;
    border-radius: 14px;
    outline: none;
    font-size: 13,8px;
    padding: 1.2rem 10rem 1.2rem 1.2rem;
}

a {
    text-decoration: none;
    font-weight: bold
}

body main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.voltar {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar a {
    text-decoration: none;
    color: #675cd8;
    cursor: pointer;
    font-family: 'MADE Waffle Soft', sans-serif;
    font-weight: bold;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: #fcb653;
    font-weight: bold;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
