@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MADE Waffle Soft', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7f5f9;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #f8f7fa;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
    overflow-y: auto;
}

img {
    width: 18vw;
    height: 100%;
    margin-left: 20px;
}

h1 {
    text-align: center;
    line-height: 1.9rem;
    font-weight: 900;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 3rem;
}

.input-box input {
    width: 100%;
    height: 3rem;
    border: 2px solid #fcb653;
    border-radius: .5rem;
    outline: none;
    font-size: 13, 8px;
    padding: 15px 40px 15px 15px;
}

button {
    margin-top: .5rem;
    border: #fcb653;
    border-radius: .5rem;
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
    background-color: #fcb653;
    cursor: pointer;
    height: 3rem;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #675cd8;
    font-family: 'MADE Waffle Soft', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: -1rem;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: #fcb653;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer p {
    font-weight: Bold;
    font-family: "DM Sans", sans-serif;
}