@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MADE Waffle Soft';
  src: url('../assets/fonts/MADE Waffle Soft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #f8f7fa;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #f8f7fa;
}

.title h1 {
  font-family: 'MADE Waffle Soft', sans-serif;
  font-size: 1.9rem;
  letter-spacing: -0.08rem;
  font-style: normal;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #fff;
}
img {
  width: 18vw;
  height: 100%;
  margin-left: 20px;
}

.perfil-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.perfil-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.perfil-nome {
  font-family: 'MADE Waffle Soft', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

}


.perfil-configuracao {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.perfil-configuracao:hover {
  opacity: 0.8;
}

main.inst{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f7fa;
}

.inst-box{
  width: 60rem;
  height: 30rem;
  background-color: white;
  border-radius: 15px;
  border: #fcb653 solid;

}


.voltar {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.voltar a {
  text-decoration: none;
  color: #675cd8;
  font-family: 'MADE Waffle Soft', sans-serif;
  font-weight: bold;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  background-color: #fcb653;
  font-weight: bold;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer p {
    font-family: Dm Sans, sans-serif;
    font-weight: Medium;

  }