@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f7fa;
}

.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: .5rem;
}

.input-box {
    position: center;
    margin-top: 0.5rem;
    width: 100%;
    height: 70px;
}

.input-box input {
    width: 100%;
    height: 3rem;
    border: 2px solid #fcb653;
    border-radius: .5rem;
    outline: none;
    font-size: 13, 8px;
    padding: 15px 40px 15px 15px;
}

.txt {
    font-weight: bold;
}

.forgot {
    text-align: center;
    margin-top: 1rem;
}

.forgot a {
    color: black;
}

form button[type="submit"] {
    margin-top: .5rem;
    border: #fcb653;
    border-radius: .5rem;
    font-weight: 900;
    font-size: 1.3rem;
    color: white;
    background-color: #fcb653;
    cursor: pointer;
    height: 3rem;
}

.register-link {
    text-align: center;
    font-size: 0.8rem;
}

.register-link a {
    color: black;
}

.msgError {
    background-color: transparent;
    color: red;
    text-align: center;
    font-weight: bold;
    margin-left: -2rem;
    margin-top: -1rem;
}